<main>
    <section class="carousel-section">

        <main class="carousel-text">
    
            <img src="https://cdn2.unrealengine.com/dd2-1515x797-1515x797-99019f35739d.png?h=270&resize=1&w=480">
    
            <h1>Novedades</h1>
    
            <p>
                Un sueño hecho realidad, ahora tienes tu el control mientras estas dormido interactuando con diferentes mundos y personajes.
            </p>
    
            <button>Descargar Ahora</button>
    
        </main>
    </section>
</main>
