<div class="content-ayuda">
    <div class="encabezado">
        <p>Demo del juego</p>
    <h1>Bienvenido a Booken-Abstract</h1>
    <h2> Como dijimos desde el principio, el éxito de ABSTRACT depende de que todos en el ecosistema se unan y desempeñen su papel, y eso es exactamente lo que está sucediendo. ¡Gracias! Mantengamos este impulso, sigamos apoyándonos unos a otros y centremos nuestra mirada en un mismo objetivo</h2>
    </div>
</div>

<div class="video">
    <img src="https://code.nintendo.com/web-components/esrb-rating/assets/es-e-t.svg" alt="ESRB Rating: e-t">
    <iframe width="921" height="465" src="https://www.youtube.com/embed/ZXIZ4BLXrdg?autoplay=1&mute=1&loop=1" title="YouTube video player" frameborder="10px" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="wrapper">
    <div class="news-article__legal-text">
        <p>Se requiere una suscripción a Abstract y una cuenta para disfrutar del catálogo de juegos - Booken-Abstract Online. No está disponible en todos los países. Se requiere una conexión a internet para las funciones en línea. Aplican términos.
            <a href="https://www.facebook.com/Boken-Abstract-Games-111147561516294/" target="_blank">https://www.Booken-Abstract.com/Terminos-de-uso/</a>
        <br><br>
        Se requiere la versión completa del juego para usar el contenido descargable. Se vende por separado.
        </p>

    </div>				
</div>