.help_login_nag {
	margin-top: 20px;
	margin-bottom: 30px;
	max-width: 684px;
	background: rgba( 0, 0, 0, 0.2 );
	padding: 14px;
}
.help_login_nag_intro {
	margin-bottom: 15px;
	margin-top: 10px;
	text-align: center;
}

.help_login_nag_buttons{
	margin: auto;
	text-align: center;
}
.help_login_nag_left {
	min-width: 40%;
	display: inline-block;
	margin-bottom: 10px;
}
.help_login_nag a.btn_medium > span {
	min-width: 200px;
	text-align: center;
}

.help_login_nag_right {
	min-width: 40%;
	display: inline-block;
	margin-bottom: 10px;
}
.btn_login_nag_left.btnv6_blue_hoverfade {
	background: #67c1f5;
	color: #ffffff !important;	/* buttons.css uses !important, so the war has begun */
}

.btn_login_nag_right.btnv6_blue_hoverfade {
	background: #2d3d50;
	color: #ffffff !important;	/* buttons.css uses !important, so the war has begun */
}
.btn_medium > span, input.btn_medium {
	padding: 0 15px;
	font-size: 15px;
	line-height: 30px;
}
.btnv6_blue_hoverfade {
	border-radius: 2px;
	border: #2d3d50;
	padding: 1px;
	display: inline-block;
	/* cursor: pointer; */
	/* text-decoration: none !important; */
	color: #67c1f5 !important;
	background: rgba( 103, 193, 245, 0.2 );
	}

.head-flow{
	width: 35%;
	

}
.head-flow h3{
font-size: 31px;
font-family: Arial, sans-serif;
font-weight: 400;
padding: 25px;
}
.head-flow p{
	font-size: 18px;
	font-family: Arial, sans-serif;
	text-align: justify;
	font-weight: 100;
	margin-top: -100px;
}
.head-flow img{
	width: 100px;
	height: 100px;
	margin-left: 700px;
}
.button p{
	color: blue;
	margin-left: 24%;
	margin-top: 40px;
	font-size: 16px;
	font-family: Arial, sans-serif;
	font-weight: 100;
	width: 100%;
}
.total{
	background-color: #f0f0f0;
	height: 250px;
	width: 100%;
}