
             



<div class="help_login_nag">
  <div class="help_login_nag_intro">
    Inicia sesión en tu cuenta de Steam para revisar las compras, el estado de la cuenta y obtener ayuda personalizada.
  </div>
  <div class="help_login_nag_buttons">
    <div class="help_login_nag_left">
      <a data-panel="{&quot;autoFocus&quot;:true}" routerLink="/login"
        class="btn_medium btnv6_blue_hoverfade btn_login_nag_left">
        <span onclick="onSubmit()">Iniciar sesión en Booken</span>
      </a>
    </div>
    <div class="help_login_nag_right">
      <a href="https://help.steampowered.com/es/wizard/HelpWithLogin"
        class="btn_medium btnv6_blue_hoverfade btn_login_nag_right">
        <span>Ayuda, no puedo iniciar sesión</span>
      </a>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>



<div class="total">
  <div class="head-flow">
    
    <h3>Avisos importantes</h3>
    <img src="https://cdn.icon-icons.com/icons2/1129/PNG/512/helpcircularbuttonofinterfacewithquestionmark_79843.png">
    <p>Encuentra información acerca de productos, funciones y servicios de PlayStation que ya no están
      disponibles o que se van a descontinuar.</p>
      
  </div>
                
      
  <div class="button">    
            <p>Verificar avisos importantes -></p>            
  </div>
</div>
  