<main>

    <section class="carousel-section">

        <main>

            <img src="https://cdn2.unrealengine.com/dd2-1515x797-1515x797-99019f35739d.png?h=270&resize=1&w=480">

            <h1>Novedades</h1>

            <p>
                Un sueño hecho realidad, ahora tienes tu el control mientras estas dormido interactuando con diferentes mundos y personajes.
            </p>

            <button>Descargar Ahora</button>

        </main>

        <aside>

            <div class="carousel-item">
                <img src="./assets/images/move-1.png" height="125px" >

                <h1>Booken-Abstract - Demo</h1>
            </div>

            <div class="carousel-item">
                <img src="./assets/images/move-2.png" height="125px">
                <h1>Booken-Abstract - Tutorial</h1>
            </div>

            <div class="carousel-item">
                <img src="./assets/images/move-3.png" height="125px">
                <h1>Booken-Abstract - Gameplay</h1>
            </div>

            <div class="carousel-item">
                <img src="./assets/images/move-4.png" height="125px">
                <h1>Booken-Abstract - </h1>
            </div>

            <div class="carousel-item">
                <img src="./assets/images/move-5.png" height="125px">
                <h1>Booken-Abstract - Terminos de su uso y curiosidades</h1>
            </div>

        </aside>

    </section>

    <section class="sales-section">

        <h1>Personajes</h1>

        <div class="games">

            <div class="game">
                <img src="https://cdn2.unrealengine.com/kena-keyart-1200x1600-1200x1600-3cc88c815329.png">
                <h1>Kena: Bridge of Spirits - Só para PC</h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, animi!</h2>
            </div>

            <div class="game">
                <img src="https://cdn2.unrealengine.com/kena-keyart-1200x1600-1200x1600-3cc88c815329.png">
                <h1>Kena: Bridge of Spirits - Só para PC</h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, animi!</h2>
            </div>

            <div class="game">
                <img src="https://cdn2.unrealengine.com/kena-keyart-1200x1600-1200x1600-3cc88c815329.png">
                <h1>Kena: Bridge of Spirits - Só para PC</h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, animi!</h2>
            </div>

            <div class="game">
                <img src="https://cdn2.unrealengine.com/kena-keyart-1200x1600-1200x1600-3cc88c815329.png">
                <h1>Kena: Bridge of Spirits - Só para PC</h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, animi!</h2>
            </div>

            <div class="game">
                <img src="https://cdn2.unrealengine.com/kena-keyart-1200x1600-1200x1600-3cc88c815329.png">
                <h1>Kena: Bridge of Spirits - Só para PC</h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, animi!</h2>
            </div>

        </div>

    </section>

    <section class="sales-section">

        <h1>Entornos</h1>

        <div class="games">

            <div class="game">
                <img src="https://cdn2.unrealengine.com/kena-keyart-1200x1600-1200x1600-3cc88c815329.png">
                <h1>Kena: Bridge of Spirits - Só para PC</h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, animi!</h2>
            </div>

            <div class="game">
                <img src="https://cdn2.unrealengine.com/kena-keyart-1200x1600-1200x1600-3cc88c815329.png">
                <h1>Kena: Bridge of Spirits - Só para PC</h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, animi!</h2>
            </div>

            <div class="game">
                <img src="https://cdn2.unrealengine.com/kena-keyart-1200x1600-1200x1600-3cc88c815329.png">
                <h1>Kena: Bridge of Spirits - Só para PC</h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, animi!</h2>
            </div>

            <div class="game">
                <img src="https://cdn2.unrealengine.com/kena-keyart-1200x1600-1200x1600-3cc88c815329.png">
                <h1>Kena: Bridge of Spirits - Só para PC</h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, animi!</h2>
            </div>

            <div class="game">
                <img src="https://cdn2.unrealengine.com/kena-keyart-1200x1600-1200x1600-3cc88c815329.png">
                <h1>Kena: Bridge of Spirits - Só para PC</h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, animi!</h2>
            </div>

        </div>

    </section>

    <section class="sales-section">

        <h1>Objetivos</h1>

        <div class="games">

            <div class="game">
                <img src="https://cdn2.unrealengine.com/kena-keyart-1200x1600-1200x1600-3cc88c815329.png">
                <h1>Sobrevivir</h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, animi!</h2>
            </div>

            <div class="game">
                <img src="https://cdn2.unrealengine.com/kena-keyart-1200x1600-1200x1600-3cc88c815329.png">
                <h1>Superar</h1>
                <h2>a tus sueños</h2>
            </div>

            <div class="game">
                <img src="https://cdn2.unrealengine.com/kena-keyart-1200x1600-1200x1600-3cc88c815329.png">
                <h1>Conocer</h1>
                <h2> el entorno</h2>
            </div>

            <div class="game">
                <img src="https://cdn2.unrealengine.com/kena-keyart-1200x1600-1200x1600-3cc88c815329.png">
                <h1>Descubrir</h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, animi!</h2>
            </div>

            <div class="game">
                <img src="https://cdn2.unrealengine.com/kena-keyart-1200x1600-1200x1600-3cc88c815329.png">
                <h1></h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, animi!</h2>
            </div>

        </div>

    </section>

</main>
