<header>

  <nav>

      <img src="">

      <ul>
          <li>
              
              <a [routerLink]="'/'">Home</a>
          </li>
          <li>
              <a [routerLink]="'/novedades'">Novedades</a>
          </li>
          <li>
            <a [routerLink]="'/ayuda'">Ayuda</a>
          </li>
          <li>
            <a href="https://www.facebook.com/Boken-Abstract-Games-111147561516294/">Preguntas Frecuentes</a>
          </li>
         
      </ul>
  </nav>

  <nav>
      <div>
          <ul>
              <li>
                  <a href="">Descubrir</a>
              </li>
              <li>
                  <a href="">Navegar</a>
              </li>
          </ul>

          <input type="text" placeholder="Buscar">

      </div>
  </nav>
</header>

